{% extends "base.html" %}
{% load static %}
{% block main%}

<!-- Main Header and Image -->
<div class="container d-flex h-100 align-items-center">
  <div class="mx-auto text-center"><br><br><br><br><br>
    <h1 class="mx-auto my-0 text-uppercase">Premium Kit</h1><br><br>
    <h3 class="text-white-50 masthead-subheading font-weight-light mb-5" style="text-align: center"><b><i>Includes everything in the Standard Kit plus...</b></i></h3>
    <br>  
  </div>
</div>

<!-- Main Content -->        
<section id="projects" class="projects-section bg-black">
  <div class="container">

  <!-- Project One Row -->
  <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Baseball-Bat.jpg' %}" alt=""></div>
    <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">Brooklyn Smasher Baseball Bat</h4>
            <p class="mb-0 text-white-50">It's like a Louisville Slugger, but different...</p>
            <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
        </div>
    </div>
    </div>
</div>

  <!-- Project One Row -->
  <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Hummer.jpg' %}" alt=""></div>
    <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">12V Hummer</h4>
            <p class="mb-0 text-white-50">Max speed 5 MPH! **WARNING: Driving on grass will tremendously reduce total run time.**</p>
            <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
        </div>
    </div>
    </div>
</div>

  <!-- Project One Row -->
  <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Emergency Food Supply.jpg' %}" alt=""></div>
    <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">4 Week Food Supply</h4>
            <p class="mb-0 text-white-50">Improved recipes of many of our customer favorites!</p>
            <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
        </div>
    </div>
    </div>
</div>

  <!-- Project One Row -->
  <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Water Bottle.jpg' %}" alt=""></div>
    <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">Water Bottle With Filter</h4>
            <p class="mb-0 text-white-50">Dishwasher Safe (top rack only)</p>
            <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
        </div>
    </div>
    </div>
</div>

  <!-- Project One Row -->
  <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Copper Fit.jpg' %}" alt=""></div>
    <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">Compression Gloves</h4>
            <p class="mb-0 text-white-50">We didn't see them on TV, but we'll take their word for it.</p>
            <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
        </div>
    </div>
    </div>
</div>

  <!-- Project One Row -->
  <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Sleeping bag.jpg' %}" alt=""></div>
    <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">Wearable Sleeping Bag</h4>
            <p class="mb-0 text-white-50">Designed with double front zippers for quick entry</p>
            <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
        </div>
    </div>
    </div>
</div>

{% endblock%}