<!-- Main Header and Image -->
<div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center"><br><br><br><br><br>
      <h1 class="mx-auto my-0 text-uppercase">Standard Kit</h1><br><br>
      <h3 class="text-white-50 masthead-subheading font-weight-light mb-5" style="text-align: center"><b><i>Security, food, medical, armor, shelter - a complete package after years of research from the best military specialists, scientists and engineers in the world</b></i></h3>
      <br>  
    </div>
</div>

<!-- Main Content -->        
<section id="projects" class="projects-section bg-black">
    <div class="container">

    <!-- Project One Row -->
    <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6">
            <img class="img-fluid" src="{% static 'img/Nerf_gun.jpg' %}" alt=""></div>
            <div class="col-lg-6">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left">
                    <h4 class="text-white">Revoltinator Nerf Zombie Strike Toy Blaster with Motorized Lights Sounds and 18 Official Nerf Darts</h4>
                    <p class="mb-0 text-white-50">I mean it has zombie strike in the name so it must be good. A lightweigth design made with the finest Chinese plastic money can buy. No need to worry to about this bd boy slowing you down.</p>
                    <hr class="d-none d-lg-block mb-0 ml-0">
                </div>
                </div>
            </div>
            </div>
        </div>



  <!-- Main Section Heading -->
  <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Premium THRIVE Kits</h2>

  <!-- Icon Divider -->
  <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
  </div>

  <!-- Main Content -->
  <h3 class="masthead-subheading font-weight-light mb-0" style="text-align: center"><b><i>Security+, food+, water+, shelter+, extra goodies - the standard package plus everything else you need to thrive post zombie-apocalypse</b></i></h3>
  <br>
  <p>User's agent is: {{ request.META.HTTP_USER_AGENT }}</p>

 <!-- Project One Row -->
 <div class="row justify-content-center no-gutters  mb-5 mb-lg-0">
    <div class="col-lg-6">
      <img class="img-fluid" src="{% static 'img/Blackhawk-Kevlar-Gloves.jpg' %}" alt="">
    </div>
    <div class="col-lg-6">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-left">
            <h4 class="text-white">Blackhawk Kevlar Gloves</h4>
            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
            <hr class="d-none d-lg-block mb-0 ml-0">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Project Two Row -->
  <div class="row justify-content-center no-gutters">
    <div class="col-lg-6">
      <img class="img-fluid" src="{% static 'img/Baseball-Bat.jpg' %}" alt="">
    </div>
    <div class="col-lg-6 order-lg-first">
      <div class="bg-black text-center h-100 project">
        <div class="d-flex h-100">
          <div class="project-text w-100 my-auto text-center text-lg-right">
            <h4 class="text-white">Baseball Bat</h4>
            <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
            <hr class="d-none d-lg-block mb-0 mr-0">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Project One Row -->
 <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Superhammer-1.jpg' %}" alt="">
  </div>
  <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">Super Hammer</h4>
          <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
          <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project Two Row -->
<div class="row justify-content-center no-gutters">
  <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Body-Armor.jpg' %}" alt="">
  </div>
  <div class="col-lg-6 order-lg-first">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-right">
          <h4 class="text-white">Body Armor</h4>
          <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
          <hr class="d-none d-lg-block mb-0 mr-0">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project One Row -->
<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Bottle.jpg' %}" alt="">
  </div>
  <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">Water Bottle</h4>
          <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
          <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project Two Row -->
<div class="row justify-content-center no-gutters">
  <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Tactical-Crossbow.jpg' %}" alt="">
  </div>
  <div class="col-lg-6 order-lg-first">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-right">
          <h4 class="text-white">Tactical Crossbow</h4>
          <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
          <hr class="d-none d-lg-block mb-0 mr-0">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project One Row -->
<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Backpack-1.jpg' %}" alt="">
  </div>
  <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">Backpack</h4>
          <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
          <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project Two Row -->
<div class="row justify-content-center no-gutters">
  <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Mossberg-Shotgun.jpg' %}" alt="">
  </div>
  <div class="col-lg-6 order-lg-first">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-right">
          <h4 class="text-white">Mossberg Shotgun</h4>
          <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
          <hr class="d-none d-lg-block mb-0 mr-0">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Project One Row -->
<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="{% static 'img/Thermal-Camera.jpg' %}" alt="">
  </div>
  <div class="col-lg-6">
    <div class="bg-black text-center h-100 project">
      <div class="d-flex h-100">
        <div class="project-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-white">Thermal Camera</h4>
          <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
          <hr class="d-none d-lg-block mb-0 ml-0">
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Main Content -->
    <h3 class="masthead-subheading font-weight-light mb-0" style="text-align: center"><b><i>Security+, food+, water+, shelter+, extra goodies - the standard package plus everything else you need to thrive post zombie-apocalypse</b></i></h3>
    <br>
    <div style="text-align: center;">
        <a class="btn btn-primary" href="standard.html" role="button" style="margin: 50px;font-size: 30px;font-weight: bold;">Standard Kit</a>
        <a class="btn btn-primary" href="specOps.html" role="button" style="margin: 50px;font-size: 30px;font-weight: bold;">Special Operations Kit</a>
    </div>