{% extends "base.html" %}
{% load static %}
{% block main%}

<!-- Main Header and Image -->
<div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center"><br><br><br><br><br>
      <h1 class="mx-auto my-0 text-uppercase">Special Operations Kit</h1><br><br>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">The premium package plus everything else you need to rule the world post zombie-apocalypse, including first access to high-tech prototypes.<br><br>Security++<br>Food++<br>Water++<br>Medical++<br>Communications++<br>Shelter++</h2>
    </div>
</div>

<!-- Main Content -->        
<section id="projects" class="projects-section bg-black">
        <div class="container">

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'img/m4a1.jpg' %}" alt=""></div>
                <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Daniel Defense M4A1 Mil Spec 5.56x45mm Semi-automatic Assault Rifle</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'img/glock.jpg' %}" alt=""></div>
                <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Glock 19 Gen 5 9mm Pistol</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Project Three Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" src="{% static 'img/benelli.jpg' %}" alt=""></div>
                    <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Benelli M4 12 Gauge Semi-Automatic Tactical Shotgun</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Four Row -->
            <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6">
                    <img class="img-fluid" src="{% static 'img/barrett.jpg' %}" alt=""></div>
                    <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Barrett .50 Cal Sniper Rifle</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

            <!-- Project One Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'img/chanel.jpg' %}" alt=""></div>
                <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Chanel 6 x 9.9 x 2.5 in Grained Calfskin & Gold-Tone Metal Black Classic Handbag</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Project Five Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                <img class="img-fluid" src="{% static 'img/tshirt.jpg' %}" alt=""></div>
                <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">100% Cotton Woke AF T-Shirt</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

        <div style="text-align: center;">
            <a class="btn btn-primary" href="standard.html" role="button" style="margin: 50px;font-size: 30px;font-weight: bold;">Standard Kit</a>
            <a class="btn btn-primary" href="premium.html" role="button" style="margin: 50px;font-size: 30px;font-weight: bold;">Premium Quality Kit</a>
        </div>

    </div>
</section>
{% endblock%}