{% extends "base.html" %}
{% block main %}

<!-- Main Header and Image -->
<div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center"><br><br><br><br><br>
        <h1 class="mx-auto my-0 text-uppercase">PAY NOW</h1><br><br>
        <h2 class="text-white-50 mx-auto mt-2 mb-5"><b>ACCEPTABLE METHODS OF PAYMENT:</b><br><br><i>Blood<br>Sweat<br>Tears (Unicorn only)<br>Food<br>Weapons<br>Ammo<br>Guzzoline<br>Dad Jokes (S-grade only)</i></h2>
    </div>
</div>

<!-- Main Content -->        
<section id="projects" class="projects-section bg-black">
        <div class="container">

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                        <br><br><br><p class="mb-0 text-white-50"><i>BLOOD PLACEHOLDER - User input inserted somewhere here via input fields, and uploaded to database. Then user re-routed to confirmation page.</i></p>
                    </div>
                <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Blood</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                        <br><br><br><p class="mb-0 text-white-50"><i>SWEAT PLACEHOLDER - User input inserted somewhere here via input fields, and uploaded to database. Then user re-routed to confirmation page.</i></p>
                    </div>
                <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Sweat</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Project Three Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6">
                            <br><br><br><p class="mb-0 text-white-50"><i>TEARS PLACEHOLDER - User input inserted somewhere here via input fields, and uploaded to database. Then user re-routed to confirmation page.</i></p>
                        </div>
                    <div class="col-lg-6">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Tears (Unicorn only)</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0">
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Four Row -->
            <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6">
                            <br><br><br><p class="mb-0 text-white-50"><i>FOOD PLACEHOLDER - User input inserted somewhere here via input fields, and uploaded to database. Then user re-routed to confirmation page.</i></p>
                        </div>
                    <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Food</h4>
                            <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                            <hr class="d-none d-lg-block mb-0 mr-0">
                        </div>
                        </div>
                    </div>
                    </div>
                </div>

            <!-- Project One Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                        <br><br><br><p class="mb-0 text-white-50"><i>WEAPONS PLACEHOLDER - User input inserted somewhere here via input fields, and uploaded to database. Then user re-routed to confirmation page.</i></p>
                    </div>
                <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Weapons</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Project Five Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                        <br><br><br><p class="mb-0 text-white-50"><i>AMMO PLACEHOLDER - User input inserted somewhere here via input fields, and uploaded to database. Then user re-routed to confirmation page.</i></p>
                    </div>
                <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Ammo</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <!-- Project Six Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                        <br><br><br><p class="mb-0 text-white-50"><i>GUZZOLINE PLACEHOLDER - User input inserted somewhere here via input fields, and uploaded to database. Then user re-routed to confirmation page.</i></p>
                    </div>
                <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-left">
                        <h4 class="text-white">Guzzoline</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 ml-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>
    
            <!-- Project Seven Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                        <br><br><br><p class="mb-0 text-white-50"><i>DAD JOKES PLACEHOLDER - User input inserted somewhere here via input fields, and uploaded to database. Then user re-routed to confirmation page.</i></p>
                    </div>
                <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">Dad Jokes (S-grade only)</h4>
                        <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                        <hr class="d-none d-lg-block mb-0 mr-0">
                    </div>
                    </div>
                </div>
                </div>
            </div>

        <div style="text-align: center;">
            <a class="btn btn-primary" href="http://127.0.0.1:8000/products" role="button" style="margin: 50px;font-size: 30px;font-weight: bold;">Continue Shopping</a>
        </div>

    </div>
</section>
{% endblock %}