
<main class="card-form-container">
    <h2 *ngIf="cardId; else hide">Update the card information</h2>
    <ng-template #hide>
      <h2>Add a new card</h2>
    </ng-template>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Card title" type="text" [(ngModel)]="title" required />
      </mat-form-field>
     
      <mat-form-field>
        <mat-label>Material</mat-label>
        <select matNativeControl [(ngModel)]="material" required>
          <option value="Papyrus">Papyrus</option>
          <option value="UltraGloss">Ultra Gloss</option>
          <option value="CardStock">Card Stock</option>
          <option value="Matte">Matte</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Picture" type="text" [(ngModel)]="picture" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price" type="number" [(ngModel)]="price" required />
      </mat-form-field>
      <button mat-raised-button (click)="handleSave()">Save</button>
    </div>
  </main>