<main class="card-form-container">
    <h2 *ngIf="birthdayCardId; else hide">Update the card information</h2>
    <ng-template #hide>
      <h2>Add Birthday Card</h2>
    </ng-template>
    <div class="form-container">
      <mat-form-field>
        <input matInput placeholder="Card Title" type="text" [(ngModel)]="title" required />
      </mat-form-field>
      <mat-form-field>
        <mat-select type="text" [(ngModel)]="material">
            <mat-option value="paper">Paper</mat-option>
            <mat-option value="plastic">Plastic</mat-option>
            <mat-option value="metal">Metal</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Picture" type="text" [(ngModel)]="picture" required />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Price" type="number" [(ngModel)]="price" required />
      </mat-form-field>
      <button mat-raised-button (click)="handleSave()">Save</button>
    </div>
  </main>
