<main class="birthday-card-form-container">
    <h2 *ngIf="birthdayCardId; else hide">Update birthday card information</h2>
    <ng-template #hide>
        <h2>Add a new birthday card</h2>
    </ng-template>
    <div class="form-container">
        <mat-form-field>
            <input matInput placeholder="Title" type="text" [(ngModel)]="title" required />
        </mat-form-field>
        <mat-form-field>
           <mat-label>Materials</mat-label>
           <select matNativeControl [(ngModel)]="material" required>
               <option value="paper">Paper</option>
               <option value="silk">Silk</option>
               <option value="bamboo">Bamboo</option>
           </select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Picture" type="text" [(ngModel)]="picture" required />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price" type="number" [(ngModel)]="price" required />
        </mat-form-field>
        <button mat-raised-button (click)="handleSave()">Save</button>
    </div>
</main>